
@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
scroll-padding-top: 2rem;
scroll-behavior: smooth;

}
:root{
    --green-color:#3cb815;
    --light-green-color:#c0eb7b;
    --orange-color:rgb(215, 173, 93);
    --light-orange-color:#ff7e00;
    --text-color:#1a2428;
    --bg-color:#fff;

}
section{
    padding: 4.5rem 0 1.5rem;

}
img{
    width: 100%;
}
body{
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    padding: 20px 100px ;
    transition: 0.5s;
}
.profile{
    display:flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
}
.profile img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.profile span{
    font-size: 13px;
    font-weight: 500;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
    column-gap: 0.5rem;
}
.logo .fa-solid{
    font-size:24px ;
    color: var(--light-orange-color);
}
.navbar{
    display: flex;
    column-gap: 0.5rem;
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    padding:0.5rem 1rem;
}
.navbar a:hover,
.navbar .home-active{
    background: var(--green-color);
    border-radius: 5rem;
    color: var(--bg-color);
    transition: background 0.5s;

}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.container{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
   background: url(image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

}
.container img{
    width: 400px;
    position: absolute;
    bottom: -500px;
    right: 200px;
}
.home-text{
    padding: 0 150px;
}
.home-text span{
    font-weight: 400;
    text-transform: uppercase;
    color: var(--green-color);
}
.home-text h1{
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.btn{
    padding: 0.6rem 1rem;
    background: var(--green-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: 00.5rem;
    max-width: 160px;
}
.btn .fa-solid{
    padding: 4px;
    background: var(--bg-color);
    color: var(--text-color);
    border-radius: 1rem;
    font-size: 20px;
    margin: auto;

}
.btn:hover{
    background: var(--light-orange-color);
    transition: 0.2s ease-in-out;
}
.swiper-button-next{
    background: url(image/right-arrow.png);
    background-repeat: no-repeat;
    background-size:100% auto;
    background-position: center;
    margin-right: 20px;
}
.swiper-button-next::after{
    display: none;
}
.swiper-button-prev{
    background: url(image/left-arrow.png);
    background-repeat: no-repeat;
    background-size:100% auto;
    background-position: center;
    margin-left: 20px;
}
.swiper-button-prev::after{
    display: none;
}